NEXTJS_ENV=development

API_URL=https://api.mahannankhan.info
NEXT_PUBLIC_API_URL=https://api.mahannankhan.info
NEXT_PUBLIC_SITE_URL=https://business.mahannankhan.info
NEXT_PUBLIC_MARKETING_URL=https://talash.mahannankhan.info

# API_URL=http://localhost:8787
# NEXT_PUBLIC_API_URL=http://localhost:8787
# NEXT_PUBLIC_SITE_URL=http://localhost:3001
# NEXT_PUBLIC_MARKETING_URL=http://localhost:3000
