NEXTJS_ENV=development

API_URL=https://api.mahannankhan.info
NEXT_PUBLIC_API_URL=https://api.mahannankhan.info
NEXT_PUBLIC_SITE_URL=https://talash.mahannankhan.info
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# API_URL=http://localhost:8787
# NEXT_PUBLIC_API_URL=http://localhost:8787
# NEXT_PUBLIC_SITE_URL=http://localhost:3000
